[Unit]
Description=AspieSoft Fedora Setup Updates

[Service]
ExecStart=/bin/bash /etc/aspiesoft-fedora-setup-updates/init.sh

[Install]
WantedBy=multi-user.target
